.main-layout {
  display: grid;
  // grid-template-columns: $layoutPadding 1fr $layoutPadding;

  > * {
    grid-column: 2;
  }

  > *.full {
    grid-column: 1 / -1;
  }

  @mixin for-mobile-layout {
    .main-layout {
      > * {
        grid-column: 1 / -1;
      }
    }
    @include layoutGTC(1fr, $layoutPaddingMobile);
  }

  @mixin for-tablet-layout {
    @include layoutGTC(1fr, $layoutPaddingTablet);
  }

  @include for-narrow-layout {
    @include layoutGTC(1fr, $layoutPaddingNarrow);
  }

  @include for-normal-layout {
    @include layoutGTC(1fr, $layoutPaddingNormal);
  }

  @include for-wide-layout {
    @include layoutGTC(1fr, $layoutPaddingWide);
  }
}
