.main-layout {
  display: grid;
  grid-template-columns: $layoutPadding 1fr $layoutPadding;

  > * {
    grid-column: 2;
  }

  > *.full {
    grid-column: 1 / -1;
  }

  // @include for-narrow-layout {
  //   @include layoutGTC($break-narrow);
  // }

  // @include for-normal-layout {
  //   @include layoutGTC($break-normal);
  // }

  // @include for-wide-layout {
  //   @include layoutGTC($break-wide);
  // }
}

// LAYOUT
@include for-mobile-layout {
  $layoutPadding: 10px;
}
@mixin for-tablet-layout {
  $layoutPadding: 20px;
}

@mixin for-narrow-layout {
  $layoutPadding: 40px;
}

@mixin for-normal-layout {
  $layoutPadding: 80px;
}

@mixin for-wide-layout {
  $layoutPadding: 80px;
}
