.app-header {
  // background-color: antiquewhite;
  border-bottom: 1px solid $clr5;
  .main-header {
    .app-logo {
      color: $clr3;
      font-weight: 625;
      background-color: antiquewhite;
      .logo-brands {
        font-size: 24px;
      }
      .txt-brands {
      }
    }
  }
}
