.app-header {
  // background-color: antiquewhite;
  border-bottom: 1px solid $clr5;
  .main-header {
    .app-logo {
      color: $clr3;
      font-weight: 425;
      font-size: 14px;
      background-color: antiquewhite;
    }
  }
}
