.amenities {
  margin-block: 20px;
  text-align: start;
  h1 {
    font-size: 22px;
    text-align: start;
  }

  .amenities-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 50%);
    text-align: start;

    article {
      display: flex;
      align-items: center;
      margin-block: 10px;
      h3 {
        margin: 0;
        margin-inline-start: 20px;
        font-size: 16px;
      }
    }
  }

  button {
    border: 1px solid $clr2;
    padding: 10px;
    font-size: 16px;
    border-radius: 0.5em;

    margin-block: 20px;
  }
}
