.app-footer {
  background-color: $clr9;
  padding: 50px;

  section,
  .categoric {
    border-bottom: 1px solid $clr5;
  }
}

@include for-mobile-layout {
  .categoric-footer {
    flex-direction: column;
    text-align: start;
  }
  .copyright-footer {
    ul {
      flex-direction: column;
      text-align: start;
    }
  }
}

@include for-tablet-layout {
  .categoric-footer {
    flex-direction: row;
    justify-content: space-around;
  }
  .copyright-footer {
  }
}
