.date-picker-modal {
  .date-range-picker-modal {
    background-color: antiquewhite;
    .rdrDefinedRangesWrapper {
      display: none;
    }
    .rdrDateDisplayWrapper {
      display: none;
    }
  }
}
