.filter-carousel {
  background-color: aquamarine;
  margin-block: 100px;
  .slick-list {
    width: 600px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    .icon-carousel {
      background-color: bisque;
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
}
