.filter-carousel {
  margin-block: 10px;
  font-family: Nunito-ExtraLight;
  color: $clr10;
  .carousel {
    width: 90vw;
    padding: 10px;
    .icon-carousel {
      display: flex;
      flex-direction: column;
      width: 34px;
      margin: 10px;
      color: black;
      img {
        opacity: 0.7;
        margin: auto;
        width: 24px;
        height: 24px;
      }
      h3 {
        font-size: 14px;
      }
    }
  }

  .slick-prev:before,
  .slick-next:before {
    background: none;
    // border: 1px solid black;
    color: rgb(184, 183, 183);
    // border-radius: 50%;
    font-size: 24px;
  }
}
