.full-gallery {
  //   background-color: antiquewhite;
  margin-block: 40px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 50%);

  article {
    &:nth-child(3n + 1) {
      grid-column: 1/-1;
    }
  }
}
