.general-info {
  background-color: antiquewhite;
  text-align: start;
  ul {
    li {
      display: flex;
      align-items: center;
      .info-txt {
        margin-inline-start: 20px;
        h3 {
          font-size: 14px;
        }
        h4 {
          font-size: 13px;
        }
      }
    }
  }
}
