.preview-card-stay {
  background-color: antiquewhite;

  .preview-content {
    background-color: rgb(242, 191, 168);
    h3 {
      font-size: 15px;
      text-align: start;
    }
  }
}

.img-carousel {
  .slick-prev,
  .slick-next {
    font-size: 27px;
    left: 90%;
  }
  .slick-dots li button:before {
    font-size: 10px;
    top: -35px;
    color: white;
  }
  .img-carousel-slider article {
    background-color: rgb(242, 168, 236);

    // @include aspect-ratio(280px, 280px);
    img {
      //   width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 1em;
    }
  }
}
