.preview-card-stay {
  background-color: antiquewhite;
  .preview-img {
    background-color: rgb(193, 242, 168);
    // width: 280px;
    // height: 260px;
  }
  .preview-content {
    background-color: rgb(242, 191, 168);
  }
}

.img-carousel {
  .img-carousel-slider {
    background-color: rgb(242, 168, 236);
    // width: 280px;
    // height: 260px;
    // height: 100%;
    img {
      //   width: 280px;
      //   height: 260px;
      @include aspect-ratio(280, 260) object-fit: contain;
      border-radius: 1em;
    }
  }
}
