.preview-card-stay {
  background-color: antiquewhite;
  .preview-img {
    background-color: rgb(193, 242, 168);
    height: 70%;
  }
  .preview-content {
    background-color: rgb(242, 191, 168);
  }
}
