.reviews-details {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 70%);
  gap: 10px;
  .review-card {
    text-align: start;

    // width: minmax(350px, 450px);
    background-color: antiquewhite;
  }
}
