.reviews-details {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 70%);
  gap: 10px;
  text-align: start;
  .review-card {
    ul {
      padding-inline-start: 0;
      li:nth-child(1) {
        list-style: none;
      }
      li {
        margin-inline-end: 25px;
      }
    }
    // width: minmax(350px, 450px);
    // background-color: antiquewhite;
  }
}
