.filter-bar {
  margin-left: auto;
  margin-right: auto;
  margin-block: 10px 20px;

  .filter-bar-content {
    width: 700px;
    height: 64px;
    border-radius: 3rem;
    box-shadow: $main-box-shadow;
    border: $main-border;
    text-align: start;

    &.active {
      background-color: $clr5;
    }

    .filter-bar-item {
      position: relative;
      width: 33%;
      cursor: pointer;
      transition: background-color 0.2s ease;

      h3,
      h4 {
        margin: 0;
        font-size: 14px;
      }

      &::before {
        content: '';
        position: absolute;
        top: -11px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: -1;
        border-radius: 3rem;
        // width: 100%;
        height: 64px;
        transition: background-color 0.3s ease;
      }

      &:hover::before {
        background-color: $clr5;
      }

      &.active::before {
        z-index: 0;
        opacity: 0.2;
        background-color: white;
      }
    }

    .btn-border {
      border-inline-end: 1px solid $clr5;
    }
  }
}
